<!-- Historial de operaciones -->
<div class="row">
	<div class="col-xs-4">
		<ul>
			<li ng-repeat="operation in historial | limitTo : 5 : -5">
				{{ operation }}
			</li>
		</ul>
	</div>
</div>
<!-- Operacion que se está ejecutando -->
<div class="row">
	<div class="col-xs-4">
		<hr />
	</div>
</div>
<div class="row">
	<div class="col-xs-4">
		<strong>
			{{ valor1 }} {{ signo }} {{ valor2 }}
		</strong>
	</div>
</div>
<!-- Resultado -->
<div class="row">
	<div class="col-xs-4">
		<input type="text" ng-model="resultado" class="col-xs-12 form-control text-right" />
	</div>
</div>
<div class="row">
	<div class="col-xs-4">
		<hr />
	</div>
</div>

<div class="row">
	<div class="col-xs-3">
		<button ng-repeat="number in numbers" class="col-xs-4 btn btn-default" ng-click="trabajar(number)">
			{{ number }}
		</button>
	</div>
	<div class="col-xs-1">
		<button ng-repeat="signo in signos" class="col-xs-12 btn btn-default" ng-click="signar(signo)">
			<strong>
				{{ signo }}
			</strong>
		</button>
	</div>
</div>
<p></p>
<div class="row">
	<div class="col-xs-3">
		<button class="col-xs-12 btn btn-primary" ng-click="calcular()">
			=
		</button>
	</div>
	<div class="col-xs-1">
		<button class="col-xs-12 btn btn-danger text-center" ng-click="resetear()">
			<span class="glyphicon glyphicon-trash"></span>
		</button>
	</div>
</div>